/*
Noto Sans
https://github.com/googlei18n/noto-fonts
Open Font License 1.1 (https://scripts.sil.org/OFL) */

/* Noto Sans Regular */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/notosans-regular.woff2") format("woff2"),
       url("../fonts/noto-sans/notosans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Noto Sans Italic */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/notosans-italic.woff2") format("woff2"),
       url("../fonts/noto-sans/notosans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* Noto Sans Bold */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/notosans-bold.woff2") format("woff2"),
       url("../fonts/noto-sans/notosans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Noto Sans Bold Italic */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans/notosans-bolditalic.woff2") format("woff2"),
       url("../fonts/noto-sans/notosans-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f4f3f2;
}
.block {
  max-width: 600px;
  margin-bottom: 3rem;
}
h1,
.contributor {
  font-size: 1.5rem;
}
.tagline {
  font-style: italic;
}
a {
  color: #1a47b8;
}