{{/*
  Adapted from the single page default template. Adds a list of endnote from 
  the notes.yml file Sorting is based on the order in the YAML file.
*/}}

{{ define "main" }}

<div class="{{ partial "page-class.html" . }}" id="main" role="main">
  {{ partial "page-header.html" . }}


  <section class="section quire-page__content" id="content">
    <div class="container">
      <div class="content">
        {{ with .Content }}
        {{ . }}
        <hr />
        {{ end }}
        <ol>
        {{- range $.Site.Data.notes.notes_list -}}
          <li id="fnref:{{ .id | urlize }}">{{ .note | markdownify }}</li>
        {{ end }}
        </ol>
      </div>
    </div>
  </section>
  
  <section class="section quire-page__content">
    <div class="container">
      {{ partial "footer-buttons.html" . }}
    </div>
  </section>

</div>
{{ end }}

