/* Matching running heads from previous print editions */
.quire-navbar-page-controls__item {
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 600;
}
  
/* Adjusting navbar display */
.quire-progress-bar {
  background-color: #1e3253;
  background-color: #3d5a88;
  height: 6px;
}
#cover .quire-progress-bar {
  background-color: #102343;
}
#cover .quire-progress-bar div {
  background-color: #3f5479;
}
.quire-progress-bar div {
  height: 6px;
  background-color: #768fb8;
}
.quire-menu__formats h6 {
  color: #647a9f;
  border-color: #647a9f;
}

/* Using Source Sans for better font-weight match */
.quire-page__header .hero-body .label {
  border-width: 0;
  font-size: 4rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-bottom: 0;  
  background-color: inherit;
  color: #000f27;
}

/* Matching page headings */
.quire-page h1, .quire-page__header__title {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 2.5rem;
  font-weight: 700;
}
.quire-page h2,
.quire-page__content .content h2 {
  font-family: 'Noto Serif', serif;
  text-transform: inherit;
  font-size: 1.25rem;
  margin-top: 1.5em;
}

.quire:not(.no-js) .quire__primary #main,
.quire #main,
.quire-page__header,
.quire-page__content .container .content {
  background-color: whitesmoke;
}
@media print {
  .quire:not(.no-js) .quire__primary #main,
  .quire #main,
  .quire-page__header,
  .quire-page__content .container .content {
    background-color: #fff;
  }
}

/* Updating cover for design match and to accomodate series info */
.quire-cover__hero {
  background-color: #000;
  background-image: none;
}
.hero.is-fullheight .hero-body {
  padding: 0;
}
.quire-cover__hero-body.hero-body {
  flex-direction: column;
  margin-left: 50%;
  margin-right: 5%;
  margin-top: 1.5rem;
}
.quire-cover__hero .series-info {
  color: #fff;
  text-transform: uppercase;
  font-size: .875rem;
  padding-right: 25%;
}
.quire-cover__hero .series-info .series-name {
  font-weight: 700;
  margin-bottom: 1em;
}
.quire-cover__hero .title {
  font-size: 3.75rem;
  margin-top: 10vh;
}
.quire-cover__hero .subtitle {
  font-size: calc(1.15rem * 1.75);
  line-height: 1.15;
}
.quire-cover__hero .contributor {
  font-size: calc(.75em * 1.75);
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: 15vh;
}
.quire-cover__hero .contributor .small {
  font-size: .65em;
}
.quire-cover__hero .contributor em {
  font-style: normal;
}
.quire-cover__more .hero-more {
  background-color: #5a6283;
  background-color: #647a9f;
}
.quire-cover .quire-page__content .container.is-fluid .content {
  color: #000f27;
}

/* Handle contributor bio/name a little differently */
.quire-contributor .title {
  display: none;
}
#contents .quire-contents-list .contributor {
  display: none;
}

@media screen {
  #contents .quire-contents-list .menu-list a {
    font-family: 'Noto Serif', serif;
    font-size: 1em;
  }
}

@media print {
  .quire-page__header {
    margin-top: .5in;
    margin-bottom: 1.125in;
  }
  .hero-body {
    padding: 0;
  }
  .quire-page__header .hero-body .label {
    margin: 0;
  }
  .quire-page h1, .quire-page__header__title {
    margin-top: 0;
    text-align: left;
    margin-left: .75in;
    font-size: 20pt;
  }
  .quire-page h2,
  .quire-page__content .content h2 {
    font-size: 10.5pt;
  }
  .quire-page__content,
  .quire-page__content .media-content {
    text-align: justify;
  }
  .quire-page__content .container .content p {
    line-height: 1.7;
  }
  .quire-cover__hero {
    display: none;
  }
  .title-page {
    text-align: left;
    padding-left: 1.375in;
    padding-right: 1.125in;  
    padding-top: .875in;
  }
  .title-page .series-name,
  .title-page .series-number,
  .title-page .pub-date {
    text-transform: uppercase;
    letter-spacing: .5pt;
    font-weight: 600;
    font-size: .875em;
  }
  .title-page .series-name {
    max-width: 3in;
    margin-bottom: 1.5em;
  }
  .title-page .title-tp {
    color: #000;
    font-size: 5.5em;
    letter-spacing: -.5pt;
    margin-top: 1.125in;
  }
  .title-page .contributor {
    text-transform: uppercase;
    margin-top: 1.25in;
    font-size: 1.5em;
  }
  .title-page .contributor .small {
    font-size: .625em;
    display: inline;
  }
  .title-page .publisher {
    text-transform: none;
    letter-spacing: 0;
    bottom: .875in;
    right: inherit;
    font-size: 1em;
  }
  #copyright .quire-page,
  #contents .quire-page {
    page: no-footer;
  }
  #copyright,
  #contents {
    margin-top: .5in;
  }
  #copyright .quire-page__content {
    text-align: left; 
    max-width: 4.25in;
    margin-left: 0;
  }
  #copyright .quire-page__content .container .content .backmatter {
    padding-top: 2.125in;
  }
  #copyright .quire-page__header.hero {
    display: none;
  }
  #copyright img {
    max-height: .25in;
    margin-bottom: -4pt;
  }
  /* #copyright img[alt='getty logo'] {
    margin-top: .5in;
    margin-bottom: 1.375in;
  } */
  #copyright .quire-page__content .container .content hr::after {
    content: none;
  }
  #copyright .quire-page__content .container .content hr {
    background-color: #000;
    width: 3in;
    height: .5pt;
  }  
  #contents .quire-contents-list,
  #contents .quire-page__header__title {
    margin-left: 1.75in;
  }
  #contents .quire-page__content .menu-list a {
    font-weight: 600;
    text-align: left;
  }
  .quire-contents-list .page-item a::after {
    content: leader(' ') ' ' target-counter(attr(href, url), page);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
  }
  p {
    orphans: 2;
    widows: 2;
  }
  .quire-page__content .container .content li {
    margin-bottom: 0;
  }
  .quire-contributor__bio {
    line-height: 1.7;
  }
}

/* Making button text read better */
.quire-contents-buttons li.quire-nav-button a {
  font-size: 18px;
  letter-spacing: .5px;
}

 /* Style footnotes using custom q-note shortcode */
sup.quire-citation button {
  border-bottom-width: 0;
  font-size: 1.125em;
  margin-right: .125em;
}
sup.quire-citation button:hover {
  border-bottom-width: 0;
}
sup.quire-citation .quire-citation__content {
  font-size: 1.125em;
}

/* Overriding default color */
strong {
  color: #000f27;
}
.backmatter .quire-copyright__icon * {
  fill: #000f27;
}

/* Styling copyright and about pages */
.quire-page__content .content .backmatter p {
  text-indent: 0;
  margin-bottom: 1rem;
}

/* Make sure print is black only */
@media print {
  body * {
    color: #000 !important;
  }
}