:root {

  /* Palette:
    https://coolors.co/2f2b0f-5d561d-7c7127-9b8d31-f5f5f5
  */

  --color-dark: #2F2B0F;
  /* --color-dark should be the same value as $off-black in
  themes/quire-starter-theme/source/css/colors.scss  */

  --color-mid-dark: #5D561D;

  --color-mid-light: #7C7127;

  --color-light: #9B8D31;
  /* --color-light should be the same value as $accent-color in
   themes/quire-starter-theme/source/css/variables.scss */

}

/* Matching running heads from previous print editions */
.quire-navbar-page-controls__item {
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 600;
}

/* Adjusting navbar display */
.quire-progress-bar {
  background-color: var(--color-mid-dark);
  height: 6px;
}
.quire-progress-bar div {
  height: 6px;
  background-color: var(--color-mid-light);
}
.quire-menu__formats h6 {
  color: var(--color-light);
  border-color: var(--color-light);
}

/* Using Source Sans for better font-weight match */
.quire-page__header .hero-body .label {
  border-width: 0;
  font-size: 4rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  background-color: inherit;
  color: var(--color-dark);
}

@media screen {
  .quire-page__header .hero-body {
    margin: 0 auto;
    max-width: 720px;
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
    padding-bottom: 0;
  }
  .quire-page__header .hero-body .label {
    margin: 0 0 .25rem;
    padding: 0;
    line-height: 1;
    display: block;
    width: initial;
  }
}
@media screen and (max-width: 500px) {
  .quire-page__header .hero-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-width: 100%;
  }
}

/* Fix spacing on content page */
@media screen {
  .quire-contents-list {
    padding-top: 1.5rem;
    margin-top: 45px;
  }
  .quire-contents .quire-page__content .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}


/* Matching page headings */
.quire-page h1, .quire-page__header__title {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 2.5rem;
  font-weight: 700;
}
@media screen {
  .quire-page h1, .quire-page__header__title {
    text-align: center;
  }
}
.quire-page h2,
.quire-page__content .content h2 {
  font-family: 'Noto Serif', serif;
  text-transform: inherit;
  font-size: 1.1rem;
  margin-top: 1.5em;
  margin-bottom: 0;
  line-height: 1.7;
}
.quire-page .backmatter h2,
.quire-page__content .content .backmatterh2 {
  margin-bottom: 1rem;
}

.quire:not(.no-js) .quire__primary #main,
.quire #main,
.quire-page__header,
.quire-page__content .container .content {
  background-color: whitesmoke;
}
@media print {
  .quire:not(.no-js) .quire__primary #main,
  .quire #main,
  .quire-page__header,
  .quire-page__content .container .content {
    background-color: #fff;
  }
}

/* Updating cover for design match and to accomodate series info */
/* Updating cover for design match and to accomodate series info */
.quire-cover__hero {
  background-color: #000;
  background-image: none;
  overflow: scroll;
}
.hero.is-fullheight .hero-body {
  padding: 0;
  height: calc(95vh - 6rem);
  justify-content: space-between;
}
.quire-cover__hero-body.hero-body {
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.quire-page--type-left .quire-cover__hero-body.hero-body {
  margin-left: 5%;
  margin-right: 50%;
}
.quire-cover__hero-body.hero-body,
.quire-page--type-right .quire-cover__hero-body.hero-body {
  margin-left: 50%;
  margin-right: 5%;
}
.quire-cover__hero .series-info {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.35vw;
  letter-spacing: .5px;
  font-family: "Archivo Narrow", sans-serif;
}
.quire-cover__hero .series-info .series-name {
  font-weight: 700;
  margin-bottom: 1em;
  float: left;
  width: 70%;
}
.quire-cover__hero .series-info .series-number,
.quire-cover__hero .series-info .pub-date {
  letter-spacing: 1px;
}
.quire-cover__hero .series-info .series-number-and-date {
  float: right;
  width: 25%;
}
.quire-cover__hero .title {
  font-size: 5.5vw;
  margin: 0;
}
.quire-cover__hero .subtitle {
  font-size: 3vw;
  line-height: 1.15;
  margin-top: .4em;
}
.quire-cover__hero .contributor {
  font-size: 1.9vw;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
.quire-cover__hero .contributor .small {
  font-size: .65em;
}
.quire-cover__hero .contributor em {
  font-style: normal;
}
.quire-cover__more .hero-more {
  background-color: var(--color-light);
}
.quire-cover .quire-page__content .container.is-fluid .content {
  color: var(--color-dark);
}
.quire-cover__more .hero-more svg {
  margin-top: .2rem;
  margin-left: .2rem;
}

@media screen and (max-width: 900px) {
  .quire-cover__hero .series-info {
    font-size: 1.45vw;
  }
  .quire-cover__hero .title {
    font-size: 6.5vw;
    margin-top: 1.25em;
  }
  .quire-cover__hero .subtitle {
    font-size: 3.5vw;
    margin-top: .4em;
  }
  .quire-cover__hero .contributor {
    font-size: 2vw;
    margin-top: 5em;
  }
}
@media screen and (max-width: 700px) {
  .quire-cover__hero .series-info {
    font-size: 1.75vw;
  }
  .quire-cover__hero .title {
    font-size: 7.5vw;
    margin-top: 1.25em;
  }
  .quire-cover__hero .subtitle {
    font-size: 4.5vw;
    margin-top: .4em;
  }
  .quire-cover__hero .contributor {
    font-size: 3vw;
    margin-top: 5em;
  }
}
@media screen and (max-width: 400px) {
  .quire-cover__hero-body.hero-body {
    margin-left: 5%;
    text-align: center;
  }
  .quire-cover__hero .series-info {
    font-size: .75rem;
    padding-right: 0;
  }
  .quire-cover__hero .title {
    font-size: 3rem;
    margin-top: .5em;
  }
  .quire-cover__hero .subtitle {
    font-size: 2rem;
  }
  .quire-cover__hero .contributor {
    font-size: 1.25rem;
    margin-top: 3em;
  }
}

/* Handle contributor bio/name a little differently */
.quire-contributor .title {
  display: none;
}
#contents .quire-contents-list .contributor {
  display: none;
}

@media screen {
  #contents .quire-contents-list .menu-list a {
    font-family: 'Noto Serif', serif;
    font-size: 1em;
  }
}

@media print {
  .quire-page__header {
    margin-top: .5in;
    margin-bottom: 1.125in;
  }
  .hero-body {
    padding: 0;
  }
  .quire-page__header .hero-body .label {
    margin: 0;
  }
  .quire-page h1, .quire-page__header__title {
    margin-top: 0;
    text-align: left;
    margin-left: .75in;
    font-size: 20pt;
  }
  .quire-page h2,
  .quire-page__content .content h2 {
    font-size: 1em;
    margin-bottom: 0;
    line-height: 1.7;
  }
  .quire-page__content .container .content p {
    line-height: 1.7;
  }
  .quire-cover__hero {
    display: none;
  }
  .title-page {
    text-align: left;
    padding-left: 1.375in;
    padding-right: 1.125in;
    padding-top: .875in;
  }
  .title-page .series-name,
  .title-page .series-number,
  .title-page .pub-date {
    text-transform: uppercase;
    letter-spacing: .5pt;
    font-weight: 700;
    font-size: .875em;
  }
  .title-page .series-number,
  .title-page .pub-date {
    font-weight: 400;
  }
  .title-page .series-name {
    max-width: 2.25in;
    margin-bottom: 1.5em;
  }
  .title-page .title-tp {
    color: #000;
    font-size: 5.5em;
    letter-spacing: -.5pt;
    margin-top: 1.125in;
  }
  .title-page .contributor {
    text-transform: uppercase;
    margin-top: 1.25in;
    font-size: 1.5em;
  }
  .title-page .contributor .small {
    font-size: .625em;
    display: inline;
  }
  .title-page .publisher {
    text-transform: none;
    letter-spacing: 0;
    bottom: .875in;
    right: inherit;
    font-size: 1em;
  }
  #copyright .quire-page,
  #contents .quire-page {
    page: no-footer;
  }
  #copyright,
  #contents {
    margin-top: .5in;
  }
  #copyright .quire-page__content {
    text-align: left;
    max-width: 4.25in;
    margin-left: 0;
  }
  #copyright .quire-page__content .container .content .backmatter {
    padding-top: 2.125in;
  }
  #copyright .quire-page__header.hero {
    display: none;
  }
  #copyright img {
    max-height: .25in;
    margin-bottom: -4pt;
  }
  #copyright .quire-page__content .container .content hr::after {
    content: none;
  }
  #copyright .quire-page__content .container .content hr {
    background-color: #000;
    width: 3in;
    height: .5pt;
  }
  #contents .quire-contents-list,
  #contents .quire-page__header__title {
    margin-left: 1.75in;
  }
  #contents .quire-page__content .menu-list a {
    font-weight: 600;
    text-align: left;
  }
  .quire-contents-list .page-item a::after {
    content: leader(' ') ' ' target-counter(attr(href, url), page);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
  }
  p {
    orphans: 2;
    widows: 2;
  }
  .quire-page__content .container .content li {
    margin-bottom: 0;
  }
  .quire-contributor__bio {
    line-height: 1.7;
  }
}

/* Making button text read better */
.quire-contents-buttons li.quire-nav-button a {
  font-size: 18px;
  letter-spacing: .5px;
}

 /* Style footnotes using custom q-note shortcode */

 /* make appear as if new section with line break above and no text indent */
 .quire-citation.name {
   margin-left: -1.5rem;
   margin-top: 1rem;
   display: inline-block;
 }

 /* but not for the first paragraph on the page */
 .quire-page__content .content > p:first-child .quire-citation.name {
   margin-left: 0;
   margin-top: 0;
 }
 @media print {
   .content sup.quire-citation {
     top: 1.5pt;
     font-size: 6pt;
   }
 }
.quire-citation__button {
  border-bottom-width: 0;
  margin-right: 1pt;
  margin-left: .5pt;
}
.quire-citation__button:hover {
  border-bottom-width: 0;
}
.quire-citation__button.name-button {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: .5em;
  font-family: "Archivo Narrow", sans-serif;
  color: var(--color-mid-light);
}
@media print {
  .quire-citation__button.name-button {
    color: #000;
  }
}

/* Overriding default color */
strong {
  color: var(--color-dark);
}
.backmatter .quire-copyright__icon * {
  fill: var(--color-dark);
}

/* Styling copyright and about pages */
.quire-page__content .content .backmatter p {
  text-indent: 0;
  margin-bottom: 1rem;
}

/* Make sure print is black only */
@media print {
  body * {
    color: #000 !important;
  }
}

/* Restyle blockquote  */
.quire-page__content .content blockquote {
  font-style: normal;
}
@media screen {
  .quire-page__content .content blockquote {
    padding: 0;
  }
}
.quire-page__content .content blockquote + p {
  text-indent: 0;
}
.quire-page__content .container .content blockquote p:first-child::before, .quire-page__content .container .content blockquote ul:first-child::before, .quire-page__content .container .content blockquote ol:first-child::before, .quire-page__content .container .content blockquote dl:first-child::before, .quire-page__content .container .content blockquote h1:first-child::before, .quire-page__content .container .content blockquote h2:first-child::before, .quire-page__content .container .content blockquote h3:first-child::before, .quire-page__content .container .content blockquote h4:first-child::before, .quire-page__content .container .content blockquote h5:first-child::before, .quire-page__content .container .content blockquote h6:first-child::before {
  content: "";
}

/* Adjust URL breaks in PDF */
@media print {
  /* PrinceXML doesn’t seem to support <wbr> embedded in the URLs as a
  method for suggesting places to break words, instead we're using here
  the prince-text-replace specialty attribute to insert zero-width-spaces */
  a[target=_blank] {
    prince-text-replace: "/" "\200B/"
                          "~" "\200B~"
                          "." "\200B."
                          "," "\200B,"
                          "-" "\200B-"
                          "_" "\200B_"
                          "?" "\200B?"
                          "#" "\200B#"
                          "%" "\200B%"
                          "=" "\200B="
                          "&" "\200B&"
                          "+" "\200B+"
                          ":" "\200B:"
                          "\200B/\200B/" "//\200B"
                          "\200B:\200B:" "\200B::";
  }
}

/* Adjust menu styling */
.quire-menu__header {
  padding-right: 1rem;
}
.quire-menu__header__contributors,
.quire-menu .cite-this,
.quire-menu .quire-copyright + .menu-list {
  font-family: "Archivo Narrow", sans-serif;
}
.quire-menu__header__contributors {
  font-size: 1.15rem;
}
.quire-menu .quire-copyright {
  padding-left: 0;
}
.quire-menu .quire-copyright + .menu-list {
  margin-left: -.5em;
}

/* Adjust appearance of contributor names in author.md */

.quire-contributors-list.name-title-block .quire-contributor,.content ul.quire-contributors-list.name-title-block .quire-contributor {
  width: 100%;
}
.quire-contributors-list.name-title-block .quire-contributor__title,.content ul.quire-contributors-list.name-title-block .quire-contributor__title {
  font-style: normal;
}
.quire-contributors-list.name-title-block .quire-contributor__affiliation,.content ul.quire-contributors-list.name-title-block .quire-contributor__affiliation {
  font-style: normal;
}
.quire-contributors-list.name-title-block .quire-contributor_name,.content ul.quire-contributors-list.name-title-block .quire-contributor__name {
  font-weight: bold;
}


/* Styling for Ancient Worlds Now logo and tagline */
.awn-logo {
  max-width: 300px;
  margin-top: 6rem;
}
