/* Matching running heads from previous print editions */
.quire-navbar-page-controls__item {
  text-transform: uppercase;
  letter-spacing: .75px;
}

/* Using Source Sans for better font-weight match */
.quire-page__header .hero-body .label {
  border-width: 0;
  font-size: 4rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-bottom: 0;  
}

/* Matching page headings */
.quire-page h1, .quire-page__header__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: 700;
}
.quire-page h2,
.quire-page__content .content h2 {
  font-family: 'Noto Serif', serif;
  text-transform: inherit;
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}

/* Updating cover for design match and to accomodate series info */
.quire-cover__hero-body.hero-body {
  flex-direction: column;
  margin-left: 50%;
  margin-right: 5%;
}
.hero-body .container.is-fluid.series-info {
  color: #fff;
  text-transform: uppercase;
  padding-top: 2.5rem;
  font-size: .875rem;
  padding-right: 25%;
}
.series-info .series-name {
  font-weight: 700;
  margin-bottom: 1em;
}
.hero-body .container.is-fluid {
  background: transparent;
  position: relative;
  width: 100%;
  margin: 0;
}
.quire-cover__hero .subtitle {
  font-size: calc(1.25rem * 1.75);
  line-height: 1.15;
}
.quire-cover__hero .contributor {
  font-size: calc(.75em * 1.75);
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: 7em;
}
.quire-cover__hero .contributor .small {
  font-size: .65em;
}
.quire-cover__hero .contributor em {
  font-style: normal;
}


@media print {
  .quire-page__header {
    margin-bottom: 1.125in;
  }
  .hero-body {
    padding: 0;
  }
  .quire-page__header .hero-body .label {
    margin: 0;
  }
  .quire-page h1, .quire-page__header__title {
    margin-top: 0;
    text-align: left;
    margin-left: .75in;
    font-size: 20pt;
  }
  .quire-page h2,
  .quire-page__content .content h2 {
    font-size: 10.5pt;
  }
  .quire-page__content {
    text-align: justify;
  }
  .quire-page__content .container .content p {
    line-height: 1.7;
  }
}

 /* Style footnotes using custom q-note shortcode */
sup.quire-citation button {
  border-bottom-width: 0;
  font-weight: 600;
  font-size: 1.125em;
  margin-right: .125em;
}
sup.quire-citation button:hover {
  border-bottom-width: 0;
}
sup.quire-citation .quire-citation__content {
  font-size: 1.125em;
}

#copyright .backmatter p {
  text-indent: 0;
  margin-bottom: 1em;
}